.*
!/.gitignore
/BasicSpringProject/build/
/BasicSpringProject/dist/
/BasicSpringProject/nbproject/private/
/308Vikings/build/
/308Vikings/dist/
/308Vikings/nbproject/private/
/308Vikings/target/
/308Vikings/src/main/java/com/vikings/controller/DummyController.java
