body{
  margin: 0px;
  overflow-x: scroll;
  width:100%;
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

a{
  text-decoration: none;
  color: black;
}

:visited{
  color: black;
  text-decoration: none;
}

hr.style15 { 
  border: 0; 
  height: 1px; 
  margin-bottom: 10%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.startUpPage {
  text-align: center;
}

.startUpPage img{
  margin-top: 5%;
  margin-bottom: 0;
  width: 5%;
}

.startUptitle{
  font-size: 5em;
  margin-bottom: 30px;
}

.signin div :not(.username){
  margin-bottom: 1%;
}

.signin input{
  height: 50px;
  width: 30%;
  font-size: 1em;
}

.signin button{
  height: 50px;
  width: 30%;
  font-family: 'Raleway', sans-serif;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.loginfacebook{
  color: white;
  border-color: #3b5998;
  background-color: #3b5998;
}

.signup{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 997; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */;
}
.modal-content {
  background-color: rgba(255, 255, 255, 1);
  margin: 3% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 82%;
  overflow: scroll;
}

.signup div{
  margin-bottom: 10px;
}


.signup input{
  height: 30px;
  width: 80%;
  font-size: 1em;
}

.signup button{
  font-family: 'Raleway', sans-serif;
  height: 50px;
  width: 80%;
   
}

.appPage{
  display: none;
}

.topnav-bar {
  background-color: rgba(210, 210, 210, 1);
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 99;
  font-size: 1.1em;
}

.dropdownbtn{
  transform: rotate(90deg);
  margin-top: 0;
  color: black;
  font-family: 'Julius Sans';
  padding: 100%;
}

.dropdownbtn.open{
  transform: rotate(-90deg);
}

.user-dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-dropdown-menu{    
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999;
  right: 200px;
  top: 50px;
}

.ad{
  font-family: 'Raleway', sans-serif;
  background-color: rgba(5, 5, 5, 0.9);
  height: 150px;
  width: 100%;
  z-index: 98;
}

#search-bar input{
  font-family: 'Raleway', sans-serif;
  float: left;
  height: 30px;
  border-radius: 5px;
  outline: none;
  margin: 5px;
  width: 12%;
  padding-left: 1%;
}

#user-buttons{
  font-family: 'Raleway', sans-serif;
  margin-right: 200px;
  margin-top: 15px;
}

#user-buttons li{
  text-align: right;
  float: right;
  list-style: none;
  cursor: pointer;
}

#user-display-name a:hover {
  text-decoration: underline;
}

#user-buttons li button{
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
   outline:none;
  border: none;
  border-radius: 20px;
  height: 25px;
  margin-top: -5px;
  font-size: 20px;
}

#user-buttons li img{ 
  width: 30px;
  margin-top: -5px;
  margin-right:5px;
}

.player-bar {
  background-color: rgba(100, 100, 100, 0.9);
  height: 80px;
  width: 100%;
  bottom:0px;
  position: fixed;
  z-index: 99;
}

.menu {
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 5px;
  left: 0px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 180px;
}

#logo{
  width:50px;
}

.menutabs ul {
  list-style: none;
  margin: 0;
  padding-left: 10%;
}

.menutabs li {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  list-style: none;
  line-height: 1.250em;
  margin-top: 10px;
  cursor: pointer;
}
.menutabs a {
  font-size: 1em;
  text-decoration: none;
}

div.menutabs li.current{
  color: gray;
}

#browserTabs{
  margin-top: 20px;
}

#personalTabs{
  margin-top: 30px;
}

#playlistTabs{
  list-style: none;
  margin-top: 50px;
}

#playlistTabs ul{
  padding-left: 10%;
}

#playlistTabs li{
  list-style: none;
  margin-bottom: 10px;
}

.player{
  text-align: center;
}

.playerimg{
  margin: 20px 10px 0 10px;
  width: 30px;
}
.browse{
  margin-left: 180px;
  height: 100%;
}
.albumitems, .artistitems, .playlistitems{
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 150px;
  cursor: pointer;

}

.albumimg, .concertdateimg, .playlistimg{
  margin: 50px;
  margin-bottom: 0px;
  width: 200px;
  float: left;
}
.artistimg{
  margin: 50px;
  margin-bottom: 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;  
}

.albumname, .albumartist, .artistname, .songnumber{
  text-align: center;
}
.albumtab{
  width: 100%;
  height: 50px;
  padding-top: 30px;
}

.albumtab li{
  font-size: 1.4em;
  margin-left: 50px;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  float: left;
  cursor: pointer;
}
.albumtab a:active{
  font-weight: bold;
  text-decoration: underline;
}
.profilepage{
  display: none;
  list-style: none;
  -webkit-align-items: center;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 100px;
  list-style: none;
}
.profileinfo li{
  font-family: 'Raleway', sans-serif;
}
.container{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}
ul.tabs, ul.musictabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li, ul.musictabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

ul.tabs li.current , ul.musictabs li.current{
  background: black;
  color: white;
}

.tab-content, .musictab-content{
  display: none;
  background: white;
  padding: 15px;
}

.tab-content.current, .musictab-content.current{
  display: inherit;
}

.userinfo, .recentlyplayedartist{
  list-style: none;
}

#field{
  font-weight: bold;
  margin-top: 3%;
}

#playListPage, #recentlyplayedpage, #artistpage, #songpage, #concertpage, #albumpage, #profilepage, #libindivArtistPage, #libindivAlbumPage, #indivArtistPage, #indivAlbumPage, #indivConcertPage{
  display: none;
}

.pages{
  margin-bottom: 150px;
}
.pages h2, h3{
  margin-left: 5%;
}

.songtable, .concerttable{
  list-style: none;
  margin-left: 5%;
  width: 100%;
  text-align: left;
}

.songtable tr:not(:first-child):hover, .concerttable tr:hover{
  background-color: rgba(239, 239, 239, 0.9);
  cursor: pointer;
}

.play-btn{
  width: 20px;
}
.concert-btn{
  width: 50px;
}
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  width: 50%;
}

.viewFullAlbum, .viewFullArtist{
  cursor: pointer;
}