<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikings.dao.mapper.AlbumMapper">
    <cache />

    <resultMap id="albumMap" type="com.vikings.domain.Album">
        <id property="id" column="album_id" />
        <result property="name" column="album_name"/>
        <result property="releaseDate" column="album_release_date"/>
        <collection property="artists" ofType="com.vikings.domain.identifier.ArtistIdentifier">
            <id property="id" column="artist_id"/>
            <result property="name" column="artist_name"/>
        </collection>
    </resultMap>

    <resultMap id="albumIdentifierMap" type="com.vikings.domain.identifier.AlbumIdentifier">
        <id property="id" column="album_id" />
        <result property="name" column="album_name"/>
        <collection property="artists" ofType="com.vikings.domain.identifier.ArtistIdentifier">
            <id property="id" column="artist_id"/>
            <result property="name" column="artist_name"/>
        </collection>
    </resultMap>
    
    <select id="getAlbum" parameterType="String" resultMap="albumMap">
        SELECT
            al.albumId as 'album_id',
            al.name as 'album_name',
            al.releaseDate as 'album_release_date',
            ar.artistId as 'artist_id',
            ar.name as 'artist_name'
        FROM
            Albums al
        LEFT JOIN
            AlbumArtists aa
        ON
            aa.albumId = al.albumId
        LEFT JOIN
            Artists ar
        ON
            ar.artistId = aa.artistId
        WHERE
            al.albumId = #{id}
    </select>

    <select id="getAllAlbums" resultMap="albumIdentifierMap">
        SELECT
            al.albumId as 'album_id',
            al.name as 'album_name',
            al.releaseDate as 'album_release_date',
            ar.artistId as 'artist_id',
            ar.name as 'artist_name'
        FROM
            Albums al
        LEFT JOIN
            AlbumArtists aa
        ON
            aa.albumId = al.albumId
        LEFT JOIN
            Artists ar
        ON
            ar.artistId = aa.artistId
        ORDER BY
            al.releaseDate DESC
    </select>

    <select id="getRecentAlbums" resultMap="albumIdentifierMap">
        SELECT
            al.albumId as 'album_id',
            al.name as 'album_name',
            al.releaseDate as 'album_release_date',
            ar.artistId as 'artist_id',
            ar.name as 'artist_name'
        FROM
            Albums al
        LEFT JOIN
            AlbumArtists aa
        ON
            aa.albumId = al.albumId
        LEFT JOIN
            Artists ar
        ON
            ar.artistId = aa.artistId
        WHERE
            al.releaseDate >= NOW() - INTERVAL 1 YEAR
        ORDER BY
            al.releaseDate DESC
    </select>

    <select id="getAlbumsForArtist" resultMap="albumIdentifierMap">
        SELECT
            al.albumId as 'album_id',
            al.name as 'album_name',
            al.releaseDate as 'album_release_date',
            ar.artistId as 'artist_id',
            ar.name as 'artist_name'
        FROM
            AlbumArtists aa
        LEFT JOIN
            Albums al
        ON
            aa.albumId = al.albumId
        LEFT JOIN
            Artists ar
        ON
            ar.artistId = aa.artistId
        WHERE
            aa.artistId = #{id}
        ORDER BY
            al.releaseDate DESC
    </select>

    <select id="search" parameterType="String" resultMap="albumIdentifierMap">
        SELECT
            al.albumId as 'album_id',
            al.name as 'album_name',
            al.releaseDate as 'album_release_date',
            ar.artistId as 'artist_id',
            ar.name as 'artist_name'
        FROM
            Albums al,
            AlbumArtists aa,
            Artists ar
        WHERE
            (
                al.name LIKE #{query}
                OR
                ar.name LIKE #{query}
            )
        AND
            (
                aa.albumId = al.albumId
                AND
                ar.artistId = aa.artistId
            )
    </select>
    
</mapper>
