<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikings.dao.mapper.DataImportMapper">
    <cache />
    
    <insert id="createArtist" parameterType="com.vikings.domain.Artist">
        INSERT IGNORE INTO Artists (
            artistId,
            name,
            bio
        ) VALUES (
            #{id},
            #{name},
            #{bio}
        );
    </insert>
    
    <insert id="createArtistGenres" parameterType="com.vikings.domain.Artist">
        INSERT IGNORE INTO ArtistGenres (
            artistId,
            genre
        ) VALUES
            <foreach item="genre" collection="genres" separator=",">
                (#{id}, #{genre})
            </foreach>
        ;
    </insert>
    
    <insert id="createAlbum" parameterType="com.vikings.domain.Album">
        INSERT IGNORE INTO Albums (
            albumId,
            name,
            releaseDate
        ) VALUES (
            #{id},
            #{name},
            #{releaseDate}
        );
    </insert>
    
    <insert id="createAlbumArtists" parameterType="com.vikings.domain.Album">
        INSERT IGNORE INTO AlbumArtists (
            artistId,
            albumId
        ) VALUES
            <foreach item="artist" collection="artists" separator=",">
                (#{id}, #{artist.id})
            </foreach>
        ;
    </insert>
    
    <insert id="createSong" parameterType="com.vikings.domain.Song">
        INSERT IGNORE INTO Songs (
            songId,
            name,
            duration,
            explicit,
            discNumber,
            trackNumber,
            lyrics
        ) VALUES (
            #{id},
            #{name},
            #{duration},
            #{explicit},
            #{discNumber},
            #{trackNumber},
            #{lyrics}
        );
    </insert>
    
    <insert id="createSongArtists" parameterType="com.vikings.domain.Song">
        INSERT IGNORE INTO SongArtists (
            songId,
            artistId
        ) VALUES
            <foreach item="artist" collection="artists" separator=",">
                (#{id}, #{artist.id})
            </foreach>
        ;
    </insert>
    
    <insert id="createSongAlbum" parameterType="com.vikings.domain.Song">
        INSERT IGNORE INTO AlbumSongs (
            songId,
            albumId
        ) VALUES (
            #{id},
            #{album.id}
        );
    </insert>
    
</mapper>
