<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikings.dao.mapper.DataImportMapper">
    <cache />
    
    <insert id="createArtist" parameterType="java.util.List">
        INSERT IGNORE INTO Artists (
            artistId,
            name,
            bio
        ) VALUES
            <foreach item="artist" collection="list" open="(" separator="),("  close=")">
                #{artist.id},
                #{artist.name},
                #{artist.bio}
            </foreach>
    </insert>
    
    <insert id="createArtistGenres" parameterType="java.util.List">
        INSERT IGNORE INTO ArtistGenres (
            artistId,
            genre
        ) VALUES
            <foreach item="artist" collection="list" separator=",">
                <foreach item="genre" collection="artist.genres" separator=",">
                    (#{artist.id}, #{genre})
                </foreach>
            </foreach>
    </insert>
    
    <insert id="createAlbum" parameterType="java.util.List">
        INSERT IGNORE INTO Albums (
            albumId,
            name,
            releaseDate
        ) VALUES
            <foreach item="album" collection="list" open="(" separator="),("  close=")">
                #{album.id},
                #{album.name},
                #{album.releaseDate}
            </foreach>
    </insert>
    
    <insert id="createAlbumArtists" parameterType="java.util.List">
        INSERT IGNORE INTO AlbumArtists (
            albumId,
            artistId
        ) VALUES
            <foreach item="album" collection="list" separator=",">
                <foreach item="artist" collection="album.artists" separator=",">
                    (#{album.id}, #{artist.id})
                </foreach>
            </foreach>
    </insert>
    
    <insert id="createSong" parameterType="java.util.List">
        INSERT IGNORE INTO Songs (
            songId,
            name,
            duration,
            explicit,
            discNumber,
            trackNumber,
            lyrics
        ) VALUES
            <foreach item="song" collection="list" separator=",">
                (#{song.id},
                #{song.name},
                #{song.duration},
                #{song.explicit},
                #{song.discNumber},
                #{song.trackNumber},
                #{song.lyrics})
            </foreach>
    </insert>
    
    <insert id="createSongArtists" parameterType="java.util.List">
        INSERT IGNORE INTO SongArtists (
            songId,
            artistId
        ) VALUES
            <foreach item="song" collection="list" separator=",">
                <foreach item="artist" collection="song.artists" separator=",">
                    (#{song.id}, #{artist.id})
                </foreach>
            </foreach>
    </insert>
    
    <insert id="createSongAlbum" parameterType="java.util.List">
        INSERT IGNORE INTO AlbumSongs (
            songId,
            albumId
        ) VALUES
        <foreach item="song" collection="list" separator=",">
            (#{song.id}, #{song.album.id})
        </foreach>
    </insert>

    <insert id="createAddress" parameterType="com.vikings.domain.Address">
        INSERT IGNORE INTO Addresses (
            street,
            city,
            state,
            zip
        ) VALUES (
            #{street},
            #{city},
            #{state},
            #{zip}
        )
    </insert>

    <insert id="createVenue" parameterType="com.vikings.domain.Venue">
        INSERT IGNORE INTO ConcertVenues (
            venueId,
            name,
            street,
            zip
        ) VALUES (
            #{id},
            #{name},
            #{address.street},
            #{address.zip}
        )
    </insert>

    <insert id="createConcert" parameterType="com.vikings.domain.Concert">
        INSERT IGNORE INTO Concerts (
            concertId,
            concertDate,
            venueId,
            ticketingUrl
        ) VALUES (
            #{id},
            #{date},
            #{venue.id},
            #{ticketingUrl}
        )
    </insert>

    <insert id="createConcertArtists" parameterType="com.vikings.domain.Concert">
        INSERT IGNORE INTO ConcertArtists (
            concertId,
            artistId
        ) VALUES
            <foreach item="artist" collection="artists" separator=",">
                (#{id}, #{artist.id})
            </foreach>
    </insert>
    
</mapper>
