<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikings.dao.mapper.PaymentMapper">
    <cache />

    <insert id="addAddress" parameterType="com.vikings.domain.Address">
        INSERT IGNORE INTO Addresses (
            street,
            city,
            state,
            zip
        ) VALUES (
            #{street},
            #{city},
            #{state},
            #{zip}
        );
    </insert>
    
    <insert id="addPayment" parameterType="com.vikings.domain.Payment">
        INSERT IGNORE INTO Payments (
            cardNumber,
            firstName,
            lastName,
            cvv,
            expirationDate,
            company,
            street,
            zip,
            phoneNumber
        ) VALUES (
            #{cardNumber},
            #{name.firstName},
            #{name.lastName},
            #{cvv},
            #{expirationDate},
            #{creditCardCompany},
            #{billingAddress.street},
            #{billingAddress.zip},
            #{phoneNum}
        );
    </insert>

    <insert id="linkPaymentToUser" parameterType="Map">
        INSERT IGNORE INTO UserPayments (
            userId,
            cardNumber
        ) VALUES (
            #{userId},
            #{cardNumber}
        )
    </insert>

    <insert id="recordMonthlyPayments" parameterType="java.util.Set">
        INSERT IGNORE INTO RevenueSummarySongs (
            songId,
            numMonthlyPlays,
            paymentAmount,
            datePaid
        ) VALUES
        <foreach collection="collection" item="payment" open="(" separator="),(" close=")">
            #{payment.id},
            #{payment.numPlays},
            #{payment.amountPaid},
            #{payment.datePaid}
        </foreach>
    </insert>

    <insert id="recordMonthlyRevenue" parameterType="java.util.Set">
        INSERT IGNORE INTO RevenueSummaryUsers (
            userId,
            cardNumber,
            paymentAmount,
            datePaid
        ) VALUES
        <foreach collection="collection" item="revenue" open="(" separator="),(" close=")">
            #{revenue.user.id},
            #{revenue.payment.cardNumber},
            #{revenue.amountPaid},
            #{revenue.datePaid}
        </foreach>
    </insert>
    
</mapper>
