<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikings.dao.mapper.UserAccountMapper">
    <cache />
    
    <resultMap id="userMap" type="com.vikings.domain.User">
        <id property="id" column="id" />
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="zip" column="zip"/>
        <result property="dateOfBirth" column="birth" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="premium" column="premium"/>
        <result property="admin" column="admin"/>
        <result property="facebookId" column="facebook"/>
    </resultMap>
    
    <select id="userExists" parameterType="com.vikings.domain.User" resultType="boolean">
        SELECT
            CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM
            Users u
        WHERE
            u.username = #{username} OR
            u.emailAddress = #{email}
    </select>
    
    <insert id="registerUser" parameterType="com.vikings.domain.User">
        INSERT IGNORE INTO Users (
            userId,
            username,
            hashedPassword,
            emailAddress,
            zip,
            birthDate
        ) VALUES (
            #{id},
            #{username},
            #{password},
            #{email},
            #{zip},
            #{dateOfBirth}
        );
    </insert>
    
    <select id="processLogin" parameterType="com.vikings.domain.User" resultMap="userMap">
        SELECT
            u.userId as "id",
            u.username as "username",
            u.emailAddress as "email",
            u.zip as "zip",
            u.birthDate as "birth",
            u.premium as "premium",
            u.admin as "admin",
            u.facebookId as "facebook"
        FROM
            Users u
        WHERE
            u.username = #{username} AND
            u.hashedPassword = #{password}
    </select>
    
    <update id="updateUser" parameterType="com.vikings.domain.User">
        UPDATE
            Users u
        SET
            <if test="username != null">
                u.username = #{username},
            </if>
            <if test="password != null">
                u.hashedPassword = #{password},
            </if>
            <if test="email != null">
                u.emailAddress = #{email},
            </if>
            <if test="zip != null">
                u.zip = #{zip},
            </if>
            <if test="dateOfBirth != null">
                u.birthDate = #{dateOfBirth},
            </if>
            <if test="facebookId != null">
                u.facebookId = #{facebookId},
            </if>
            u.premium = #{premium},
            u.admin = #{admin} 
        WHERE
            u.userId = #{id}
        
    </update>
    
</mapper>
